<div class="row">
  <div class="col-lg-8">
    <div class="video-container">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @video.identity %>?showinfo=0"
        allowfullscreen frameborder="0"></iframe>
    </div>
    <div class="video-title">
      <%= @video.title %>
    </div>
    <div class="video-controls" style="display: flex;margin: 6px;">
      <div class="channel-informations" style="color: #fff">
        <%= link_to user_channel_path(@video.channel) do %>
          <% if @video.channel.avatar.attached?%>
            <%= image_tag @video.channel.avatar, class: "avatar-vid" , style:"width: 37px;"%>
              <% end %>
                <%= @video.channel.name %>
                  <% end %>
      </div>
      <br>
      <div class="video-buttons" style="margin-left: 56%;display: flex;">
        <%= button_to create_like_video_path, method: :patch, class: "btn btn-outline-danger btn-sm" do %>
          <i class="fa-solid fa-heart fa-beat"></i>
          <%= @video.likes %>
            <% end %>

              <%= button_to create_deslike_video_path, class:"btn btn-outline-secondary btn-sm", method:
                :patch do %>
                <i class="fa-solid fa-thumbs-down"></i>
                <%= @video.deslikes %>
                  <% end %>
                  <button class="btn btn-outline-secondary btn-sm">
                      <i class="fa-solid fa-triangle-exclamation"></i> <%= @video.denounces %>
                    </button>

                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-sliders"></i>
                    </button>

                    <ul class="dropdown-menu">
                      <% if channel_signed_in? && @video.channel.id == current_channel.id%>
                        <li>
                          <%= link_to @video, data: {turbo_method: :delete}, class:"dropdown-item" do %>
                            <i class="fa-solid fa-trash"></i> Deletar
                            <% end %>
                              <%= link_to edit_video_path(@video), class:"dropdown-item" do %>
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                                <% end %>
                        </li>

                        <hr>
                        <% end %>
                          <li>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop">
                              <i class="fa-solid fa-share"></i> Compartilhar
                            </button>
                          </li>
                          <li>
                            <% if channel_signed_in? %>
                              <%= button_to send_denounce_video_path, class: "dropdown-item" do %>
                                <i class="fa-solid fa-triangle-exclamation"></i> Denunciar
                              <% end %>
                            <% end %>
                          </li>

                    </ul>
      </div>
    </div>
    <%= render "videos/shared/copyboard" %>
    <div class="video-description">
      <pre><%= simple_format(@video.description) %></pre>
    </div>

    <div class="comment-form">
      <% if channel_signed_in? %>
        <%= render "comments/form" , video: @video %>
          <% else %>
            <p style="color: #fff;">Faça <%= link_to "login" , new_channel_session_path %> para comentar nesse video</p>
            <% end %>
    </div>
    <br>
    <div class="comment-view">
      <%= render "comments/comments" , video: @video %>
    </div>

  </div>
  <%= render "videos/shared/list_videos" %>

</div>
