<div class="row">
  <div class="col-lg-8">
    <div class="video-container">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @video.identity %>?showinfo=0"
        allowfullscreen frameborder="0"></iframe>
    </div>
    <div class="video-title">
      <%= @video.title %>
    </div>
    <div class="video-controls" style="display: flex;margin: 6px;">
      <div class="channel-informations" style="color: #fff">
        <%= link_to user_channel_path(@video.channel) do %>
          <% if @video.channel.avatar.attached?%>
              <%= image_tag @video.channel.avatar, class: "avatar-vid", style:"width: 37px;"%>
          <% end %>
          <%= @video.channel.name %>
        <% end %>
      </div>
      <br>
      <div class="video-buttons" style="margin-left: 60%;display: flex;">
        <%= button_to create_like_video_path(@video.id), method: :patch, class: "btn btn-outline-danger btn-sm" do %>
          <i class="fa-solid fa-heart fa-beat"></i> <%= @video.likes %>
        <% end %>

        <%= button_to create_deslike_video_path(@video.id), class:"btn btn-outline-secondary btn-sm", method: :patch do %>
          <i class="fa-solid fa-thumbs-down"></i> <%= @video.deslikes %>
        <% end %>


          <button class="btn btn-outline-secondary btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-sliders"></i>
          </button>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
    </div>
    <div class="video-description">
      <%= simple_format(@video.description) %>
    </div>

    <div class="comment-form">
      <% if channel_signed_in? %>
        <%= render "comments/form", video: @video %>
      <% else %>
        <p style="color: #fff;">Faça <%= link_to "login", new_channel_session_path %> para comentar nesse video</p>
      <% end %>
    </div>
    <br>
    <div class="comment-view">
    <% @video.comments.each do |comment|%>
      <% if comment.channel %>
        <%= link_to user_channel_path(comment.channel) do %>
          <div class="card">
          <div class="card-header">
            <%= comment.channel.name %>
          </div>
            <div class="card-body">
              <% if comment.channel.avatar.attached?%>
                <%= image_tag comment.channel.avatar, class: "avatar-vid", style:"width: 37px;"%>
              <% end %>
        <% end %>
              <%= comment.content %>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>

  </div>
  <%= render "videos/shared/list_videos" %>

</div>
