<div class="container mt-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <% if @channel.avatar.attached?%>
            <img src="<%= url_for(@channel.avatar)%>" class="card-img-top">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= @channel.name %></h5>
            <div style="display: flex;">
              <button type="button" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-heart"></i> <%= @channel.subscribed_channels.count %> inscritos
              </button>
              <% if channel_signed_in?%>
                <% if @channel.subscribed_channels.include?(current_channel.slug) %>
                  <%= button_to unsubscribe_channel_path(@channel),method: :delete, data: {turbo_method: :delete},  class: "btn btn-outline-danger btn-sm" do %>
                    <i class="fa-solid fa-minus"></i> <i class="fa-solid fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= button_to subscribe_channel_path(@channel), class: "btn btn-danger btn-sm" do %>
                    <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-heart"></i>
                  <% end %>
                <% end %>
              <% else %>
              Faça login para se increver nesse canal
              <% end%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
      <% if @channel.about.present?%>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sobre</h5>
            <p class="card-text"><%= simple_format(@channel.about) %></p>
          </div>
        </div>
      <% end %>
      <br>
      <div class="list-group">
        <li class="list-group-item"><strong>Canais incritos</strong></li>
        <% @channel.subscribed_channels.each do |channel| %>
          <a href="<%= channel %>" class="list-group-item list-group-item-action">
            <% if current_channel.slug == channel %>
              Você
            <% else %>
              <%= channel %>
            <% end %>
          </a>
        <% end %>
      </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Videos de <%= @channel.name %></h5>
            <div class="row">
              <div class="col-md-6">
              <% @channel.videos.each do |user_video| %>
                <%= link_to video_path(user_video) do %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <img src="https://i.ytimg.com/vi/<%= user_video.identity %>/maxresdefault.jpg" class="card-img-top"
                        alt="Thumbnail 1" style="    margin-bottom: 10px;">
                      <h6 class="card-subtitle mb-2 text-muted"><%= user_video.title %></h6>
                    </div>
                  </div>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
