<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-0">Personalização do canal <%= current_channel.name %></h1>
        </div>
        <div class="card-body">
            <%= form_with(model: current_channel, url: my_channel_update_path, method: :patch, local: true) do |form| %>
                <div class="avatar-container">
                    <label class="avatar-label" for="avatar-input">
                        <div id="avatar-preview" class="avatar-preview">
                            <i class="fas fa-camera"></i>
                        </div>
                    </label>
                    <%= danger_error_form(current_channel, :avatar) %>
                    <%= form.file_field :avatar, class: "form-control", id: "avatar-input", accept: "image/png, image/jpeg, image/jpg", style: "display: none;" %>
                </div>
                <div class="mb-3">
                    <%= form.label :name, class: "form-label" %>
                    <%= form.text_field :name, class: "form-control", placeholder: "Novo nome do canal" %>
                    <%= danger_error_form(current_channel, :name) %>
                </div>
                <div class="mb-3">
                    <%= form.label :sobre, class: "form-label" %>
                    <%= form.text_area :about, class: "form-control", rows: 3, placeholder: "Escreva sobre esse canal" %>
                    <%= danger_error_form(current_channel, :about) %>
                </div>
                <%= form.submit "Atualizar", class: "btn btn-primary", id: "update-btn" %>
            <% end %>
        </div>
    </div>
</div>

<%= javascript_include_tag "form_validation" %>

